<app-header></app-header>
  <header id="header">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" id="navigation-brand" href="index.html">FinTech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQ's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our Partners</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>   <div id="admin-login">
    <div class="login-details">
      <div class="row">
        <div class="col-md-12">
          <i class="fas fa-unlock center login-icon"> Reset Password</i>
          <hr class="my-4 horizontal">
          <form name="form" #forgotPassword = "ngForm" (ngSubmit)="forgotPassword.form.valid && ForgotPass(forgotPassword)">
              <table>
                <tr>
                  <div class="form-group">
                    <td><label for="userid">User ID</label></td>
                  </div>
                </tr>
                <tr>
                  <div class="form-group">
                    <td class="field"><input type="text" onClick= "check()" class="form-control" name="userid" id="userid" aria-describedby="emailHelp" [(ngModel)]="admin.userid" #userid="ngModel" placeholder="Enter User ID" required autofocus></td>
                  </div>
                </tr>
                <span *ngIf="forgotPassword.submitted && userid.invalid">
                  <span *ngIf="userid.errors?.required">Field cannot be blank</span>
                </span>
                <tr>
                  <div class="form-group">
                    <td><label for="loginPassword">Login Password</label></td>
                  </div>
                </tr>
                <tr>
                  <div class="form-group">
                    <td class="field"><input type="password" class="form-control" name="loginPassword" id="loginPassword" [(ngModel)]="admin.loginPassword" #loginPassword="ngModel" placeholder="Enter Login Password" required></td>
                  </div>
                </tr>
                <span *ngIf="forgotPassword.submitted && loginPassword.invalid">
                  <span *ngIf="loginPassword.errors?.required">Field cannot be blank</span>
                </span>
                <tr>
                  <div class="form-group">
                    <td><label for="confirmLogin">Confirm Login Password</label></td>
                  </div>
                </tr>
                <tr>
                  <div class="form-group">
                    <td class="field"><input type="password" class="form-control" name="confirmLogin" id="confirmLogin" [(ngModel)]="admin.confirmLogin" #confirmLogin="ngModel" placeholder="Confirm Login Password" required></td>
                    <td><span id="message"></span></td>
                  </div>
                </tr>
                <span *ngIf="forgotPassword.submitted && confirmLogin.invalid">
                  <span *ngIf="confirmLogin.errors?.required">Field cannot be blank</span>
                </span>
                <tr>
                  <div class="form-group">
                    <td><label for="transactPassword">Transaction Password</label></td>
                  </div>
                </tr>
                <tr>
                  <div class="form-group">
                    <td class="field"><input type="password" class="form-control" name="transactPassword" id="transactPassword" [(ngModel)]="admin.transactPassword" #transactPassword="ngModel" placeholder="Enter Transaction Password" required></td>
                  </div>
                </tr>
                <span *ngIf="forgotPassword.submitted && transactPassword.invalid">
                  <span *ngIf="transactPassword.errors?.required">Field cannot be blank</span>
                </span>
                <tr>
                  <div class="form-group">
                    <td><label for="confirmTransact">Confirm Transaction Password</label></td>
                  </div>
                </tr>
                <tr>
                  <div class="form-group">
                    <td class="field"><input type="password" class="form-control" name="confirmTransact" id="confirmTransact" [(ngModel)]="admin.confirmTransact" #confirmTransact="ngModel" placeholder="Confirm Transaction Password" required></td>
                  </div>
                  <td><span id="message1"></span></td>
                </tr>
                <span *ngIf="forgotPassword.submitted && confirmTransact.invalid">
                  <span *ngIf="confirmTransact.errors?.required">Field cannot be blank</span>
                </span>
              </table>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>   <div id="contactUs">
    <div class="row">
      <div class="col-md-6">
        <h2 class="header2">Get in touch with us now!</h2>
      </div>
      <div class="col-md-6">
        <a href="https://twitter.com/lti_global?lang=en"><i class="fab social-icon fa-twitter fa-2x"></i></a>
        <a href="https://www.facebook.com/LarsenToubroInfotech/"><i class="fab social-icon fa-facebook-f fa-2x" style="color: darkblue;"></i></a>
        <a href="https://www.instagram.com/lti_global/?hl=en"><i class="fab social-icon fa-instagram fa-2x instagram"></i></a>
        <a href="mailto: Abhishek.Jain@lntinfotech.com"><i class="fas social-icon fa-envelope fa-2x" style="color:white;"></i></a>
        <a href="https://www.youtube.com/channel/UCr4-_QrHa_CCN872Cgi4D3Q"><i class="fab social-icon fa-youtube fa-2x" style="color:red;"></i></a>
        <a href="https://www.linkedin.com/company/l&t-infotech/?originalSubdomain=in"><i class="fab social-icon fa-linkedin-in fa-2x"></i></a>
        <p>©️ 2021 Fintech Group of Companies. Terms and Conditions applied.</p>
      </div>
    </div>
  </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="../../../assets/validation.js"></script> 
